/* .item{
        flex: 0 0 200px; /* flex-grow, flex-shrink, flex-basis 
        border: 1px solid #ccc;
        padding: 20px;
        margin: 10px;
        box-sizing: border-box;
} */
 .img1{
        height: 200px;
} 
